PORT=3000
PUBLIC_APP_URL=https://seu-app.com
NUVEMSHOP_CLIENT_ID=
NUVEMSHOP_CLIENT_SECRET=
NUVEMSHOP_REDIRECT_URI=https://seu-app.com/auth/callback
NUVEMSHOP_USER_AGENT=VenosModasApp/0.1 contato@seudominio.com
